:root {
    --white: #FFFFFF;
    --black: #000000;
    --font-title: 'Montserrat', sans-serif;
    --font-body: 'Open Sans', sans-serif;
    --border: 1px solid var(--black);
    --padding: .75rem;
    --margin: 1rem;
    --shadow: 0 0 30px var(--black);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-body);
    background-color: var(--white);
    color: var(--black);
}

header {
    display: grid;
    grid-template-columns: 300px 1fr;
    align-items: center;
    padding: var(--padding);
    margin: var(--margin);
    border: var(--border);
}

h1 {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 2.5rem;
    font-family: var(--font-title);
    color: var(--black);
    background-color: lightblue;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    opacity: 0.7;
}

h2, p {
    font-family: var(--font-body);
    color: var(--black);
}

header, main, footer {
    max-width: 960px;
    margin: 20px auto;
}

header img {
    width: 150px;
}

img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    border: 2px solid #464c4e;
    border-radius: 5px; 
    background-color: rgba(19, 9, 65, 0.479);
    color: var(--black);
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

.hero {
    position: relative;
}

article {
    position: absolute;
    bottom: 50px;
    left: 30px;
    right: 30px;
    padding: var(--padding);
    background-color: rgba(173, 216, 230, 0.8);
}

article img {
    float: right;
    width: 100px;
    margin-right: var(--margin);
    opacity: 1;
}

nav {
    display: flex;
    justify-content: flex-end;
}

footer nav.sociallinks a {
    border: none; 
    background-color: transparent;
    padding: 4px;
    margin: 0;
}

.history, h2 {
    padding-top: 10px;
    text-align: left;
    display: grid;
    grid-column: 1 / 4;
}

h2 {
    justify-content: center;
    padding: 10px 0;
    font-size: 35px;
    background-color: rgba(173, 216, 230, 0.8);
}

.history p {
    margin: 1rem 0;
    padding: 10px;
}

.history img {
    margin: 1rem auto;
    padding: 10px;
}

footer nav.sociallinks img {
    width: 30px;
    height: auto;
}

footer {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    max-width: 960px;
    margin: 20px auto;
    padding: 10px;
}
  
footer p {
    grid-column: 2;       
    text-align: center;   
    margin: 0;
}

footer nav.sociallinks {
    display: flex;
    gap: 0;
    grid-column: 3;       
    justify-self: end;     
}

.adventure-images {
    display: flex;           
    flex-wrap: wrap;         
    gap: 10px;               
    justify-content: center; 
  }
  
.adventure-images img {
    width: 150px;
    height: auto;
    margin: 1rem;
}

figcaption {
    text-align: center;}